In [37]:
import pandas as pd
import yfinance as yf
import datetime as dt

# list of assets (updated with our chosen assets):
# Companies: Salesforce, HP, Lenovo, Ford, Tesla, Walmart, Target 
my_tickers = ['CRM', 'HPQ', 'LNVGY', 'F', 'TSLA', 'WMT', 'TGT']


# Assign a start date and end date for the data download, 1 year of data
start_date = dt.datetime.today() - pd.Timedelta(3650, "d")
end_date = dt.datetime.today()

In [38]:
## Now download the data using the above variables, my_port is short for my portfolio
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers)

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**************        29%%                      ]  2 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************57%%*                     ]  4 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************71%%********              ]  5 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  7 of 7 completed

In [39]:
## And review the data:
my_port.head()

Price       Adj Close                                                        \
Ticker            CRM         F        HPQ      LNVGY        TGT       TSLA
Date
2014-03-03  61.490002  9.222394  10.014840  13.908520  46.635632  16.704000
2014-03-04  63.070000  9.325539  10.146213  13.837984  46.161461  16.989332
2014-03-05  63.680000  9.483292  10.085581  13.504540  45.611996  16.844000
2014-03-06  63.139999  9.507560  10.136110  13.754624  45.717384  16.862667
2014-03-07  60.740002  9.477225  10.220321  13.626374  45.724899  16.414000

Price                      Close                    ...       Open             \
Ticker            WMT        CRM      F        HPQ  ...        TGT       TSLA
Date                                                ...
2014-03-03  12.997494  61.490002  15.20  13.501362  ...  61.939999  15.817333
2014-03-04  13.174604  63.070000  15.37  13.678474  ...  62.509998  17.232000
2014-03-05  13.116735  63.680000  15.63  13.596730  ...  61.650002  17.114668
2014-03-06  13.130769  63.139999  15.67  13.664850  ...  60.610001  16.942667
2014-03-07  13.334597  60.740002  15.62  13.778383  ...  60.840000  16.862667

Price                    Volume                                       \
Ticker            WMT       CRM         F       HPQ   LNVGY      TGT
Date
2014-03-03  24.830000   9303400  42824000  27428112  132600  6813300
2014-03-04  24.923332   7927200  33071700  29367413  116000  6400100
2014-03-05  25.106667   5464400  32955900  14328854   97200  7421100
2014-03-06  24.953333   3958800  26630800  15711710   90900  4835100
2014-03-07  24.986668  11239300  23666900  20446451   61400  3817500

Price
Ticker           TSLA       WMT
Date
2014-03-03  196339500  16042800
2014-03-04  131184000  22631400
2014-03-05   89035500  16574400
2014-03-06  110416500  15319800
2014-03-07  117184500  15163800

[5 rows x 42 columns]

In [40]:
## We may only need one index of the multi-index that was returned (Adj Close)
my_port = my_port['Adj Close']

my_port.head()

Ticker,CRM,F,HPQ,LNVGY,TGT,TSLA,WMT
Date,,,,,,,
2014-03-03,61.490002,9.222394,10.014840,13.908520,46.635632,16.704000,12.997494
2014-03-04,63.070000,9.325539,10.146213,13.837984,46.161461,16.989332,13.174604
2014-03-05,63.680000,9.483292,10.085581,13.504540,45.611996,16.844000,13.116735
2014-03-06,63.139999,9.507560,10.136110,13.754624,45.717384,16.862667,13.130769
2014-03-07,60.740002,9.477225,10.220321,13.626374,45.724899,16.414000,13.334597

In [41]:

my_port_table = pd.DataFrame(index = my_tickers)

In [42]:
## Calculation for 1a. and 1b. in the 1st project. Column of the tickers and portfolio weights.

port_weight = [1/len(my_tickers)] * len(my_tickers)
my_port_table['Portfolio_Weight'] = port_weight

my_port_table

       Portfolio_Weight
CRM            0.142857
HPQ            0.142857
LNVGY          0.142857
F              0.142857
TSLA           0.142857
WMT            0.142857
TGT            0.142857

In [55]:
## Calculation for 1c. 
def get_stock_prices(my_tickers, start_date, end_date):
    my_port
    return my_port

prices = get_stock_prices(my_tickers, start_date, end_date)
returns_3months = prices.pct_change().rolling(window=63).sum().dropna()
volatility = returns_3months.std() * (252 ** 0.5)
result_df = pd.DataFrame({'Ticker': my_tickers, 'Volatility': volatility})

print(result_df)

       Ticker  Volatility
Ticker
CRM       CRM    2.186023
F         HPQ    2.759198
HPQ     LNVGY    2.193940
LNVGY       F    3.033198
TGT      TSLA    2.323128
TSLA      WMT    4.588782
WMT       TGT    1.346228

In [57]:
my_port_table['Annualized Volatility'] = volatility
my_port_table

       Portfolio_Weight  Annualized Volatility
CRM            0.142857               2.186023
HPQ            0.142857               2.193940
LNVGY          0.142857               3.033198
F              0.142857               2.759198
TSLA           0.142857               4.588782
WMT            0.142857               1.346228
TGT            0.142857               2.323128

In [72]:
## Calculation for 1d.

## First download Adjusted Close Price data for S&P 500 ETF
spy = yf.download(start=start_date, end=end_date, tickers='SPY')
spy = spy['Adj Close']

## Combine portfolio and SPY data into a single DataFrame
my_port_and_spy_data = pd.concat([my_port, spy], axis=1)
my_port_and_spy_data.columns = my_tickers + ['SPY']

## Calculate daily returns
my_port_and_spy__d_returns = my_port_and_spy_data.pct_change().dropna()

## Calculate covariance matrix
my_port_and_spy_cov_matrix = my_port_and_spy__d_returns.cov()

## Extract covariances with SPY
cov_with_spy = my_port_and_spy_cov_matrix['SPY'].drop('SPY')

## Calculate SPY variance
spy_variance = my_port_and_spy_cov_matrix.loc['SPY', 'SPY']

# Calculate beta
betas = cov_with_spy / spy_variance

spy_beta_table = pd.DataFrame({'Tickers': my_tickers, 'Beta': betas})
print(spy_beta_table)


'''
## Then calculate the daily returns of portfolio and S&P 500 ETF
my_port_d_returns = prices.pct_change().dropna()
spy_d_returns = spy.pct_change().dropna()

covariances = my_port_d_returns.covwith(spy_d_returns)
'''

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

      Tickers      Beta
CRM       CRM  1.271001
HPQ       HPQ  1.185344
LNVGY   LNVGY  1.209398
F           F  0.649350
TSLA     TSLA  0.823690
WMT       WMT  1.472535
TGT       TGT  0.526207

'\n## Then calculate the daily returns of portfolio and S&P 500 ETF\nmy_port_d_returns = prices.pct_change().dropna()\nspy_d_returns = spy.pct_change().dropna()\n\ncovariances = my_port_d_returns.covwith(spy_d_returns)\n'

In [75]:
## Resulting table after calculating 1d. 
my_port_table['Beta against SPY'] = betas
my_port_table

       Portfolio_Weight  Annualized Volatility  Beta against SPY
CRM            0.142857               2.186023          1.271001
HPQ            0.142857               2.193940          1.185344
LNVGY          0.142857               3.033198          1.209398
F              0.142857               2.759198          0.649350
TSLA           0.142857               4.588782          0.823690
WMT            0.142857               1.346228          1.472535
TGT            0.142857               2.323128          0.526207

In [43]:

## Calculation for 3
'''
ETF_tickers = ['SPY', 'IWM', 'DIA']
ETF_data = yf.download(start=start_date, end=end_date, tickers=ETF_tickers)
ETF_data.head()
ETF_data = ETF_data['Adj Close']
ETF_data.head()

Port_and_ETF_data = {
    'portfolio data': my_port,
     'ETF data': ETF_data
}

All_Tickers = my_tickers.extend(ETF_tickers)
print(All_Tickers)

'''

"\nETF_tickers = ['SPY', 'IWM', 'DIA']\nETF_data = yf.download(start=start_date, end=end_date, tickers=ETF_tickers)\nETF_data.head()\nETF_data = ETF_data['Adj Close']\nETF_data.head()\n\nPort_and_ETF_data = {\n    'portfolio data': my_port,\n     'ETF data': ETF_data\n}\n\nAll_Tickers = my_tickers.extend(ETF_tickers)\nprint(All_Tickers)\n\n"

In [44]:
'''
Port_and_ETF_table = pd.DataFrame(Port_and_ETF_data)
ETF_table = pd.DataFrame(ETF_data,columns=['Adj Close'], index=ETF_tickers)
ETF_table
'''

"\nPort_and_ETF_table = pd.DataFrame(Port_and_ETF_data)\nETF_table = pd.DataFrame(ETF_data,columns=['Adj Close'], index=ETF_tickers)\nETF_table\n"