In [37]:
%pip install pandas yfinance datetime numpy matplotlib.pyplot

import pandas as pd
import yfinance as yf
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

# list of assets (updated with our chosen assets):
# Companies: Salesforce, HP, Lenovo, Ford, Tesla, Walmart, Target 
my_tickers = ['crm', 'hpq', 'lnvgy', 'f', 'tsla', 'wmt', 'tgt']

my_tickers = [ticker.upper() for ticker in my_tickers]


# Assign a start date and end date for the data download, 2 years of data
start_date = dt.datetime.today() - pd.Timedelta(740, "d")
end_date = dt.datetime.today()

Requirement already satisfied: pandas in c:\users\samue\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: yfinance in c:\users\samue\appdata\local\programs\python\python311\lib\site-packages (0.2.36)
Collecting datetime
  Using cached DateTime-5.4-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: numpy in c:\users\samue\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot

ModuleNotFoundError: No module named 'matplotlib'

In [12]:
## Now download the data using the above variables, my_port is short for my portfolio
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers)

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**************        29%%                      ]  2 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[********************* 43%%                      ]  3 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************57%%*                     ]  4 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  7 of 7 completed

In [13]:
## And review the data:
my_port.head()

Price        Adj Close                                               \
Ticker             CRM          F        HPQ      LNVGY         TGT
Date
2022-03-07  195.973999  13.698515  33.041389  18.043388  199.579742
2022-03-08  191.829422  13.749981  33.246666  18.098564  197.470825
2022-03-09  202.894974  14.041622  33.638573  17.988209  204.270386
2022-03-10  199.888885  14.007309  33.731880  17.850262  203.116623
2022-03-11  197.641815  13.758557  33.862526  17.951424  195.730728

Price                                   Close                        ...  \
Ticker            TSLA        WMT         CRM          F        HPQ  ...
Date                                                                 ...
2022-03-07  268.193329  45.638577  196.229996  15.970000  35.660000  ...
2022-03-08  274.799988  44.694687  192.080002  16.030001  35.630001  ...
2022-03-09  286.323334  44.926628  203.160004  16.370001  36.049999  ...
2022-03-10  279.433319  45.947834  200.149994  16.330000  36.150002  ...
2022-03-11  265.116669  45.767437  197.899994  16.040001  36.290001  ...

Price             Open                          Volume                         \
Ticker             TGT        TSLA        WMT      CRM            F       HPQ
Date
2022-03-07  224.100006  285.433319  47.099998  7043500   87999200.0  17613100
2022-03-08  211.229996  265.176666  47.166668  8229000  101020300.0  23796900
2022-03-09  213.720001  279.826660  46.666668  6881300   62846700.0  17680800
2022-03-10  213.600006  283.816681  46.496666  5604200   72992600.0  15985500
2022-03-11  215.660004  280.066681  47.433334  5196900   54985900.0  13238300

Price
Ticker      LNVGY      TGT        TSLA         WMT
Date
2022-03-07  58200  5743400  72494100.0  45870000.0
2022-03-08  76800  4463200  80399100.0  28305600.0
2022-03-09  43100  3183200  59184000.0  22122900.0
2022-03-10  37000  3155300  58648500.0  27512700.0
2022-03-11  48200  4042600  67037100.0  19162200.0

[5 rows x 42 columns]

In [14]:
## We are only using Adj Close data
my_port = my_port['Adj Close']

my_port.head()

Ticker,CRM,F,HPQ,LNVGY,TGT,TSLA,WMT
Date,,,,,,,
2022-03-07,195.973999,13.698515,33.041389,18.043388,199.579742,268.193329,45.638577
2022-03-08,191.829422,13.749981,33.246666,18.098564,197.470825,274.799988,44.694687
2022-03-09,202.894974,14.041622,33.638573,17.988209,204.270386,286.323334,44.926628
2022-03-10,199.888885,14.007309,33.731880,17.850262,203.116623,279.433319,45.947834
2022-03-11,197.641815,13.758557,33.862526,17.951424,195.730728,265.116669,45.767437

In [18]:
## Calculate daily return of all stocks/assets.
d_returns = my_port.pct_change()

C:\Users\samue\AppData\Local\Temp\ipykernel_20860\4270916011.py:2: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  d_returns = my_port.pct_change()

In [27]:
## Define a function that takes in adjusted close price data or return data as inputs to calculate the mean, variance, and correlation matrix.
def find_mean_var_and_corr_matrix(input):   # input is either adjusted close price data or return data.
    return input.mean(), input.var(), input.corr()

In [28]:
## Calculate the mean, variance, and correlation matrix by using adjusted close price data
find_mean_var_and_corr_matrix(my_port)

(Ticker
 CRM      197.412762
 F         11.793933
 HPQ       29.264787
 LNVGY     19.142151
 TGT      149.578146
 TSLA     230.152796
 WMT       48.762251
 dtype: float64,
 Ticker
 CRM      1750.305561
 F           1.455188
 HPQ         8.941281
 LNVGY      10.973817
 TGT       691.418725
 TSLA     2590.224121
 WMT        22.796579
 dtype: float64,
 Ticker       CRM         F       HPQ     LNVGY       TGT      TSLA       WMT
 Ticker
 CRM     1.000000  0.161854  0.181462  0.841446 -0.179786  0.092447  0.738814
 F       0.161854  1.000000  0.473881 -0.016485  0.427430  0.550256  0.119561
 HPQ     0.181462  0.473881  1.000000  0.170801  0.546463  0.515820 -0.103107
 LNVGY   0.841446 -0.016485  0.170801  1.000000 -0.293573  0.081248  0.695518
 TGT    -0.179786  0.427430  0.546463 -0.293573  1.000000  0.291360 -0.232468
 TSLA    0.092447  0.550256  0.515820  0.081248  0.291360  1.000000 -0.117226
 WMT     0.738814  0.119561 -0.103107  0.695518 -0.232468 -0.117226  1.000000)

In [29]:
## Calculate the mean, variance, and correlation matrix by using daily return data
find_mean_var_and_corr_matrix(d_returns)

(Ticker
 CRM      0.001110
 F        0.000067
 HPQ      0.000089
 LNVGY    0.000916
 TGT     -0.000062
 TSLA    -0.000303
 WMT      0.000663
 dtype: float64,
 Ticker
 CRM      0.000564
 F        0.000623
 HPQ      0.000457
 LNVGY    0.000662
 TGT      0.000606
 TSLA     0.001354
 WMT      0.000182
 dtype: float64,
 Ticker       CRM         F       HPQ     LNVGY       TGT      TSLA       WMT
 Ticker
 CRM     1.000000  0.436445  0.445293  0.232429  0.339853  0.433100  0.205171
 F       0.436445  1.000000  0.480285  0.213060  0.415091  0.468211  0.251190
 HPQ     0.445293  0.480285  1.000000  0.216554  0.454140  0.348286  0.206141
 LNVGY   0.232429  0.213060  0.216554  1.000000  0.156153  0.191224  0.063491
 TGT     0.339853  0.415091  0.454140  0.156153  1.000000  0.308204  0.443472
 TSLA    0.433100  0.468211  0.348286  0.191224  0.308204  1.000000  0.170177
 WMT     0.205171  0.251190  0.206141  0.063491  0.443472  0.170177  1.000000)

Calculations of mean, variance, and correlation matrix done separately without a function to verify

In [16]:
## Calculate the mean, variance, and correlation matrix for all assets
## First, calculate the mean, variance, and correlation matrix by using adjusted close price data
# The mean calculated by using adjusted close price data
my_port.mean()

Ticker
CRM      197.412762
F         11.793933
HPQ       29.264787
LNVGY     19.142151
TGT      149.578146
TSLA     230.152796
WMT       48.762251
dtype: float64

In [17]:
# The variance calculated by using adjusted close price data.
my_port.var()

Ticker
CRM      1750.305561
F           1.455188
HPQ         8.941281
LNVGY      10.973817
TGT       691.418725
TSLA     2590.224121
WMT        22.796579
dtype: float64

In [30]:
# The mean calculated by using daily return data
d_returns.mean()

Ticker
CRM      0.001110
F        0.000067
HPQ      0.000089
LNVGY    0.000916
TGT     -0.000062
TSLA    -0.000303
WMT      0.000663
dtype: float64

In [31]:
# The variance calculated by using daily return data.
d_returns.var()

Ticker
CRM      0.000564
F        0.000623
HPQ      0.000457
LNVGY    0.000662
TGT      0.000606
TSLA     0.001354
WMT      0.000182
dtype: float64

In [34]:
# The correlation matrix calculated by using daily return data.
d_returns.corr()

Ticker       CRM         F       HPQ     LNVGY       TGT      TSLA       WMT
Ticker
CRM     1.000000  0.436445  0.445293  0.232429  0.339853  0.433100  0.205171
F       0.436445  1.000000  0.480285  0.213060  0.415091  0.468211  0.251190
HPQ     0.445293  0.480285  1.000000  0.216554  0.454140  0.348286  0.206141
LNVGY   0.232429  0.213060  0.216554  1.000000  0.156153  0.191224  0.063491
TGT     0.339853  0.415091  0.454140  0.156153  1.000000  0.308204  0.443472
TSLA    0.433100  0.468211  0.348286  0.191224  0.308204  1.000000  0.170177
WMT     0.205171  0.251190  0.206141  0.063491  0.443472  0.170177  1.000000

In [35]:
# The correlation matrix calculated by using adjusted close price data.
my_port.corr()

Ticker       CRM         F       HPQ     LNVGY       TGT      TSLA       WMT
Ticker
CRM     1.000000  0.161854  0.181462  0.841446 -0.179786  0.092447  0.738814
F       0.161854  1.000000  0.473881 -0.016485  0.427430  0.550256  0.119561
HPQ     0.181462  0.473881  1.000000  0.170801  0.546463  0.515820 -0.103107
LNVGY   0.841446 -0.016485  0.170801  1.000000 -0.293573  0.081248  0.695518
TGT    -0.179786  0.427430  0.546463 -0.293573  1.000000  0.291360 -0.232468
TSLA    0.092447  0.550256  0.515820  0.081248  0.291360  1.000000 -0.117226
WMT     0.738814  0.119561 -0.103107  0.695518 -0.232468 -0.117226  1.000000