In [3]:
import pandas as pd
import yfinance as yf
import datetime as dt

# Step 1: Define stock symbols and retrieve historical prices
stock_symbols = ['AAPL', 'GOOGL', 'MSFT']  # Add your desired stock symbols
start_date = '2023-01-01'
end_date = '2023-12-31'

stock_prices = yf.download(stock_symbols, start=start_date, end=end_date)['Adj Close']

# Step 2: Calculate daily returns
returns = stock_prices.pct_change()

# Step 3: Calculate equally weighted portfolio returns
weights = [1/len(stock_symbols)] * len(stock_symbols)
portfolio_returns = returns.dot(weights)

# Step 4: Calculate standard deviation of portfolio returns for trailing 3 months
rolling_volatility = portfolio_returns.rolling(window=63).std()

# Step 5: Annualize the standard deviation
annualized_volatility = rolling_volatility.std() * (252 ** 0.5)  # Assuming 252 trading days in a year

table_1 = pd.DataFrame(index = stock_symbols)

table_1

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  3 of 3 completed

Empty DataFrame
Columns: []
Index: [AAPL, GOOGL, MSFT]

In [6]:
table_1['Portfolio_Weight'] = weights

table_1

       Portfolio_Weight
AAPL           0.333333
GOOGL          0.333333
MSFT           0.333333

In [8]:
table_1['Yearly_Volatility'] = annualized_volatility

table_1

       Portfolio_Weight  Yearly_Volatility
AAPL           0.333333           0.027215
GOOGL          0.333333           0.027215
MSFT           0.333333           0.027215